<%= form_for(@skill) do |f| %>
  <% if @skill.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@skill.errors.count, "error") %> prohibited this skill from being saved:</h2>

      <ul>
      <% @skill.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



   <h4> <%= f.label :description %> </h4>
    <%= f.text_field :description, :size => "100%"%>
  <br />
  <br />
  <div class="actions">
    <%= f.submit "Save", class: "btn btn-primary" %> | <%= link_to 'Cancel', skills_path %>

  </div>

  

<% end %>
