<div container> 
<% if user_signed_in? %>
<h1>Your skills</h1>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  
    <% @skills.each do |skill| %>
      <%if skill.user == current_user %>
        <tr>
            <td><%= skill.user.email %></td>
            <td><%= skill.description %></td>
            <td><%= link_to 'Show', skill %></td>
            <td><%= link_to 'Edit', edit_skill_path(skill) %></td>
            <td><%= link_to 'X', skill, method: :delete, data: { confirm: 'Are you sure? This cannot be undone.' } %>

            </td>
          </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
    

<br>
<%= link_to "New Skill", new_skill_path  %>
<% else %>


<% end %>
</div>

